.padding-10 {
  padding: 10px
}
.margin-top-10 {
  margin-top: 10px;
}
html {
  background-image: url('./Assets/bg.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right 0px;
}
body {
  background-color: transparent;
}

.avatar {
  height: 25px;
  width: 25px;
  background-attachment: cover;
  margin-right: 10px;
}
.sign-out {
  color: #333333
}